user_setup/
setup.txt

application/.terraform
*.tfstate.*
*.tfstate
*.tfplan
*.tfvars

application/crash.log
.terraform

application/modules/backend-module/builds/*
application/builds/*

application/env/*/builds

data-miner/.env.dev
data-miner/info.txt
data-miner/node_modules