setup.txt

aws/.terraform
.terraform
*.tfstate.*
*.tfstate
*.tfplan
*.tfvars

aws/crash.log

aws/env/*/builds

miner-service/.env.dev
miner-service/info.txt
miner-service/node_modules

k8s/base/secrets.yml
k8s/miner/ecr-registry-secret.yml

ws-client/dist
ws-client/node_modules
ws-client/docker.sh

*.log
*.*.log

deploy.sh
*/docker.sh