user_setup/
setup.txt

application/.terraform
*.tfstate.*
*.tfstate
*.tfplan
*.tfvars

application/crash.log
.terraform

application/modules/backend-module/builds/*
application/builds/*

application/env/*/builds

data-miner/*
data-miner/*/*